<template>
  <div>
    <li class="list-group-item" style="cursor: pointer" @click="updateServers">Server #{{ server }}</li>
  </div>
</template>

<script>
import { EventBus } from "../../main";

export default {
  props: ["server"],
  methods: {
    updateServers() {
      EventBus.change(this.server);
    }
  },
  computed: {}
};
</script>

<style>
</style>
