<template>
  <div class="col-xs-12 col-sm-6">
    <p v-if="!servers">servers Details are currently not updated</p>
    <p v-else>servers#{{servers.id}} | status {{servers.status}}</p>
    <button @click="resetServers">resetservers</button>
  </div>
</template>

<script>
import { EventBus } from "../../main";
export default {
  data() {
    return { servers: null };
  },
  created() {
    EventBus.$on("changeServer", res => {
      this.servers = res;
    });
  },
  methods: {
    resetServers() {
       this.servers.status = "Normal";
    }
  }
};
</script>

<style>
</style>
